anyio==3.5.0
appdirs==1.4.4
asgiref==3.5.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.0
colorama==0.4.4
cssselect==1.1.0
fake-useragent==0.1.11
fastapi==0.75.0
h11==0.13.0
httptools==0.4.0
idna==3.3
importlib-metadata==4.11.3
lxml==4.8.0
parse==1.19.0
pydantic==1.9.0
pyee==8.2.2
pyppeteer==1.0.2
pyquery==1.4.3
python-dotenv==0.20.0
PyYAML==6.0
requests==2.27.1
requests-html==0.10.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.1
starlette==0.17.1
tqdm==4.63.1
typing_extensions==4.1.1
urllib3==1.26.9
uvicorn==0.17.6
w3lib==1.22.0
watchgod==0.8.1
websockets==10.2
zipp==3.7.0
